form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4c4c4c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #ff4a35;
}

.btn-login {
  background-color: #4c4c4c;
  color: #fff;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

select option[value=""] {
  display: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

button[type="submit"],
button[type="button"] {
  background-color: #4c4c4c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #ff4a35;
}

.btn-group1 {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}

.btn-createquiz,
.btn-showquizzes {
  background-color: #4c4c4c;
  color: #fff;
  border: none;
  padding: 30px 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.btn-createquiz:hover,
.btn-showquizzes:hover {
  background-color: #ff4a35;
}
footer {
  background-color: #4c4c4c;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 0;
  font-size: 14px;
}
